@{
    ViewBag.Title = "Добавить студента";
}

<h3>Форма добавления нового студента</h3>
<form method="post" action="">
    <table>
        <tr>
            <td><p>Введите фамилию</p></td>
            <td>
                <input type="text"
                       name="LastName" />
            </td>
        </tr>
        <tr>
            <td><p>Введите имя</p></td>
            <td>
                <input type="text"
                       name="FirstName" />
            </td>
        </tr>
        <tr>
            <td><p>Введите отчество</p></td>
            <td>
                <input type="text"
                       name="Surname" />
            </td>
        </tr>
        <tr>
            <td><p>Введите E-mail</p></td>
            <td>
                <input type="text"
                       name="Email" />
            </td>
        </tr>
        <tr>
            <td><p>Введите оценку по математике</p></td>
            <td>
                <input type="number"
                       name="MathematicMark" />
            </td>
        </tr>
        <tr>
            <td><p>Введите оценку по физике</p></td>
            <td>
                <input type="number"
                       name="PhisicMark" />
            </td>
        </tr>
        <tr>
            <td><p>Введите оценку по философии</p></td>
            <td>
                <input type="number"
                       name="PhilosophyMark" />
            </td>
        </tr>
        <tr>
            <td><p>Введите оценку по химии</p></td>
            <td>
                <input type="number"
                       name="ChemistryMark" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Отправить" />
            </td>
            <td></td>
        </tr>
    </table>
</form>
<h3>Ведомость успеваемости студентов</h3>
<table class="table-bordered">
    <tr>
        <td><strong>Фамилия</strong></td>
        <td><strong>Имя</strong></td>
        <td><strong>Отчество</strong></td>
        <td><strong>E-mail</strong></td>
        <td><strong>Математика</strong></td>
        <td><strong>Физика</strong></td>
        <td><strong>Философия</strong></td>
        <td><strong>Химия</strong></td>
    </tr>
    @foreach (var c in ViewBag.Students)
    {
        <tr>
            <td><p>@c.LastName</p></td>
            <td><p>@c.FirstName</p></td>
            <td><p>@c.Surname</p></td>
            <td><p>@c.Email</p></td>
            <td><p>@c.MathematicMark</p></td>
            <td><p>@c.PhisicMark</p></td>
            <td><p>@c.PhilosophyMark</p></td>
            <td><p>@c.ChemistryMark</p></td>
        </tr>
    }
</table>
